@model IEnumerable<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "List";
}

<h1>@ViewData["Title"]</h1>

<section>
    @foreach (Lanche lanche in Model)
    {
        <div class="lanche-container">
            <h4>Lanche: @lanche.Nome</h4>
            <p><img src="@lanche.ImagemUrl" /></p>
            <p>Preço: @lanche.Preco.ToString("c")</p>
        </div>
    }
</section>
