@model LancheListViewModel

@{
    ViewData["Title"] = "Todos os lanches";
}

<section class="col-12">
    <h1>@Model.CategoriaAtual</h1>
</section>

<section class="container row">
    @foreach (Lanche lanche in Model.Lanches)
    {
        <partial name="_LancheResumo" for="@lanche" />
    }
</section>
